{
	"extends": [
		"@commitlint/config-conventional"
	],
	"rules": {
		"header-max-length": [
			0,
			"always",
			500
		],
		"footer-max-line-length": [
			0,
			"always",
			500
		],
		"body-max-line-length": [
			0,
			"always",
			500
		]
	}
}
