{
	"printWidth": 150,
	"tabWidth": 4,
	"semi": false,
	"singleQuote": false,
	"quoteProps": "as-needed",
	"trailingComma": "es5",
	"bracketSpacing": true,
	"bracketSameLine": true,
	"arrowParens": "avoid",
	"requirePragma": false,
	"singleAttributePerLine": true,
	"endOfLine": "auto",
	"useTabs": true
}
